<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.movebox.theather.dao.TheatherDAO">
	<insert id="insertTheather" parameterType="map">
		INSERT INTO `theather`
		(
			`name`
			, `address`
			, `number`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{name}
			, #{address}
			, #{number}
			, NOW()
			, NOW()
		)
	</insert>

	<select id="selectTheatherList" resultType="com.movebox.theather.model.Theather">
		SELECT 
			`id`
			, `name`
			, `address`
			, `number`
			, `createdAt`
			, `updatedAt`
		FROM 
			`theather`
	</select>
	
	<delete id="deleteTheaterById" parameterType="int">
		DELETE 
		FROM
			`theather`
		WHERE
			`id` = #{id}
	</delete>
</mapper>