#wrap {
	width: 1100px;
	margin: 0 auto;
}

#userWrap {
	background-color: #E0E0E0;
}

header {
	height: 130px;
}

.nav-text {
	color: black;
	font-size: 20px;
}

.nav-text-small {
	color: dimgray;
	font-size: 15px;
}

.contents {
	height: 600px;
}

.line {
	border-right: 1px solid gray;
}

.user-contents {
	width: 700px;
	height: 800px;
	margin: 0 auto;
	background-color: white;
}

.btnCss {
	background-color: #6667AB;
	color: white;
}

.textCss {
	color: #6667AB;
}

footer {
	height: 100px;
}